.path_verdict {
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
}

.circle_verdict {
	-webkit-animation: dash 1.4s ease-in-out;
	animation: dash 1.4s ease-in-out;
}

.line_verdict {
	stroke-dashoffset: 1000;
	-webkit-animation: dash 0.5s 0.5s ease-in-out forwards;
	animation: dash 0.5s 0.5s ease-in-out forwards;
}

.check_verdict {
	stroke-dashoffset: -100;
	-webkit-animation: dash-check 0.5s 0.5s ease-in-out forwards;
	animation: dash-check 0.5s 0.5s ease-in-out forwards;
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 1000;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}

@keyframes dash-check {
	0% {
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dashoffset: 900;
	}
}
